# Ignore CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
TutorialConfig.h
Makefile

# Ignore executable
Tutorial

# Ignore install files
install/
install_manifest.txt

# Ignore CTest test files
Testing/
CTestTestfile.cmake

# Ignore library files
*/lib*.a

# Ignore vim swap files
*.swp
*.swo
